Repository danielsogl/awesome-cordova-plugins, pull requests merged in 2018-03, with the labels that each got.

#2196 docs(http): linking Stackoverflow answer for .pem to .cer
  src/@ionic-native/plugins/http/index.ts
Labels: improve docs

#2270 feat(mix panel): add missing events
  src/@ionic-native/plugins/mixpanel/index.ts
Labels: improve plugin

#2271 feat(push): add missing decorator option to channel
  src/@ionic-native/plugins/push/index.ts
Labels: improve plugin

#2273 docs(cordova-file): added ArrayBuffer
  src/@ionic-native/plugins/file/index.ts
Labels: improve docs

#2279 feat(local-notifications) add silent configuration parameter
  src/@ionic-native/plugins/local-notifications/index.ts
Labels: improve plugin

#2308 feat(in-app-browser): add new footer options for Android
  src/@ionic-native/plugins/in-app-browser/index.ts
Labels: improve plugin

#2294 feat(call-log): add plugin
  src/@ionic-native/plugins/call-log/index.ts
Labels: new-plugin

#2310 feat(health-kit): add missing properties to HealthKitOptions
  src/@ionic-native/plugins/health-kit/index.ts
Labels: improve plugin

#2314 docs(navigation-bar): rename mismatched function
  src/@ionic-native/plugins/navigation-bar/index.ts
Labels: improve docs

#2316 feat(firebase-dynamic-links): update to conform to the latest version of the plugin
  src/@ionic-native/plugins/firebase-dynamic-links/index.ts
Labels: improve plugin

#2327 docs(intercom): add deprecated notice for setSecureMode
  src/@ionic-native/plugins/intercom/index.ts
Labels: improve docs

#2330 docs(background-mode): added push parameter description
  src/@ionic-native/plugins/background-mode/index.ts
Labels: improve docs

#2349 docs(in-app-browser): insertCSS example update
  src/@ionic-native/plugins/in-app-browser/index.ts
Labels: improve docs

#2348 docs(onesignal): change docs to match new Cordova hook specs
  src/@ionic-native/plugins/onesignal/index.ts
Labels: improve docs

#2333 docs(broadcaster): add support for browser platform
  src/@ionic-native/plugins/broadcaster/index.ts
Labels: improve docs

#2344 fix(globalization): options as optional
  src/@ionic-native/plugins/globalization/index.ts
Labels: improve docs, improve plugin

#2354 feat(jins-meme): enable background mode data collection
  src/@ionic-native/plugins/jins-meme/index.ts
Labels: improve docs, improve plugin

#2353 feat(music-controls): add new optional parameters for icons
  src/@ionic-native/plugins/music-controls/index.ts
Labels: improve docs, improve plugin

#2355 docs(fcm): improve example
  src/@ionic-native/plugins/fcm/index.ts
Labels: improve docs

#2030 feat(BlinkupPlugin): added ElectricImp BlinkUp
  src/@ionic-native/plugins/blinkup/index.ts
Labels: needs testing, new-plugin

#2086 feat(DocumentPicker) adds DocumentPicker ios plugin
  src/@ionic-native/plugins/document-picker/index.ts
Labels: discuss, needs reply, new-plugin

#2276 feat(plugin): add cordova-hot-code-push
  src/@ionic-native/plugins/hot-code-push/index.ts
Labels: needs testing, new-plugin

#2345 feat(plugin): add SpeechKit plugin
  src/@ionic-native/plugins/speechkit/index.ts
Labels: needs testing, new-plugin

#2257 fix(web-intent): rename `onNewIntent` to `onIntent`
  src/@ionic-native/plugins/web-intent/index.ts
Labels: improve plugin, needs reply

#2406 feat(plugin): add OpenALPR plugin
  src/@ionic-native/plugins/openalpr/index.ts
Labels: needs testing, new-plugin

#2032 fix(firebase): optional params, callback indexes fix
  src/@ionic-native/plugins/firebase/index.ts
Labels: enhancement, needs reply
