Repository danielsogl/awesome-cordova-plugins, pull requests merged in 2018-06, with the labels that each got.

#2517 feat(firebase-config): add firebase-config wrapper
  src/@ionic-native/plugins/firebase-config/index.ts
Labels: plugin request

#2518 feat(firebase-messaging): add firebase-messaging
  src/@ionic-native/plugins/firebase-messaging/index.ts
Labels: plugin request

#2534 feat(hce): add hce plugin wrapper
  src/@ionic-native/plugins/hce/index.ts
Labels: plugin request

#2292 docs(pro): add types for return values in deploy
  src/@ionic-native/plugins/pro/index.ts
Labels: improve plugin, needs testing

#2319 feat(nativegeocoder): change return type to array and add options param
  src/@ionic-native/plugins/native-geocoder/index.ts
Labels: improve docs, improve plugin

#2325 feat(image-picker): add DATA_URL as an option to ImagePicker
  src/@ionic-native/plugins/image-picker/index.ts
Labels: improve plugin, needs testing

#2562 feat(aes-256): AES256 encryption and decryption plugin added
  src/@ionic-native/plugins/aes-256/index.ts
Labels: plugin request

#2268 feat(plugin): add Sensors plugin
  src/@ionic-native/plugins/sensors/index.ts
Labels: needs testing, new-plugin

#2570 docs(deeplinks): update example
  src/@ionic-native/plugins/deeplinks/index.ts
Labels: target: patch
