Repository danielsogl/awesome-cordova-plugins, pull requests merged in 2018-05, with the labels that each got.

#2483 feat(InAppReview): add InAppReview plugin
  src/ionic-native/plugins/in-app-review
Labels: new-plugin

#2414 feat(tealium): add tealium ionic wrappers
  DEVELOPER.md
  package-lock.json
  src/@ionic-native/plugins/tealium-adidentifier/index.ts
  src/@ionic-native/plugins/tealium-installreferrer/index.ts
  src/@ionic-native/plugins/tealium/index.ts
Labels: needs testing, plugin request

#2494 feat(cloud-settings): add support for cordova-plugin-cloud-settings
  src/@ionic-native/plugins/cloud-settings/index.ts
Labels: new-plugin

#2043 type(fix): fixes in-app-purchases-2 store.ready not getting fired
  src/@ionic-native/plugins/in-app-purchase-2/index.ts
Labels: discuss, enhancement
